<form role="form">
    <div class="row">
        <div class="col-md-6">

            <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">نام</label>
                <div class="col-lg-9">
                    <input class="form-control" name="firsName" type="text" value="{{ employee.firstName }}">
                </div>
            </div>


            <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">کدملی</label>
                <div class="col-lg-9">
                    <input class="form-control" name="nationalCode" type="text" value="{{ employee.nationalCode }}">
                </div>
            </div>


            <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">نام پدر</label>
                <div class="col-lg-9">
                    <input class="form-control" name="fatherName" type="text" value="{{ employee.fatherName }}">
                </div>
            </div>


            <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">محل تولد</label>
                <div class="col-lg-9">
                    <input class="form-control" name="placeOfBirth" type="text" value="{{ employee.placeOfBirth }}">
                </div>
            </div>


            <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">نوع بیمه</label>
                <div class="col-lg-9">
                    <select id="user_time_zone" class="form-control" size="0" name="typeOfInsurance">
                        {% for insurance in constant('TYPEOFINSURANCE', employee) %}
                            <option value="{{ insurance }}">{{ insurance }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">تاریخ تولد</label>
                <div class="col-lg-9">
                    <input class="form-control" name="birthDate" type="text" value="{{ employee.birthDate|date('Y-m-d') }}">
                </div>
            </div>


            <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">نام</label>
                <div class="col-lg-9">
                    <input class="form-control" name="firsName" type="text" value="{{ employee.firstName }}">
                </div>
            </div>


            <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">نام</label>
                <div class="col-lg-9">
                    <input class="form-control" name="firsName" type="text" value="{{ employee.firstName }}">
                </div>
            </div>


            <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">نام</label>
                <div class="col-lg-9">
                    <input class="form-control" name="firsName" type="text" value="{{ employee.firstName }}">
                </div>
            </div>


            <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">نام</label>
                <div class="col-lg-9">
                    <input class="form-control" name="firsName" type="text" value="{{ employee.firstName }}">
                </div>
            </div>

        </div>
        <div class="col-md-6">

            <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">نام خانوادگی</label>
                <div class="col-lg-9">
                    <input class="form-control" type="text" name="lastName" value="{{ employee.lastName }}">
                </div>
            </div>
        </div>
    </div>



    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Email</label>
        <div class="col-lg-9">
            <input class="form-control" type="email" value="email@gmail.com">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Company</label>
        <div class="col-lg-9">
            <input class="form-control" type="text" value="">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Website</label>
        <div class="col-lg-9">
            <input class="form-control" type="url" value="">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Address</label>
        <div class="col-lg-9">
            <input class="form-control" type="text" value="" placeholder="Street">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label"></label>
        <div class="col-lg-6">
            <input class="form-control" type="text" value="" placeholder="City">
        </div>
        <div class="col-lg-3">
            <input class="form-control" type="text" value="" placeholder="State">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Time Zone</label>
        <div class="col-lg-9">
            <select id="user_time_zone" class="form-control" size="0">
                <option value="Hawaii">(GMT-10:00) Hawaii</option>
                <option value="Alaska">(GMT-09:00) Alaska</option>
                <option value="Pacific Time (US &amp; Canada)">(GMT-08:00) Pacific Time (US &amp; Canada)</option>
                <option value="Arizona">(GMT-07:00) Arizona</option>
                <option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp; Canada)</option>
                <option value="Central Time (US &amp; Canada)" selected="selected">(GMT-06:00) Central Time (US &amp; Canada)</option>
                <option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp; Canada)</option>
                <option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Username</label>
        <div class="col-lg-9">
            <input class="form-control" type="text" value="janeuser">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Password</label>
        <div class="col-lg-9">
            <input class="form-control" type="password" value="11111122333">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Confirm password</label>
        <div class="col-lg-9">
            <input class="form-control" type="password" value="11111122333">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label"></label>
        <div class="col-lg-9">
            <input type="reset" class="btn btn-secondary" value="Cancel">
            <input type="button" class="btn btn-primary" value="Save Changes">
        </div>
    </div>
</form>