{% extends ('base.html.twig') %}

{% block title %}انواع قرارداد در مجموعه{% endblock %}
{% block pageDescription %} انواع قرارداد و پراکندگی آن در سازمان های زیرمجموعه{% endblock %}

{% block body %}
    {% for contract in contracts %}
        <div class="panel">
            <a class="panel-heading collapsed" role="tab" id="heading{{ loop.index }}" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}" aria-expanded="false" aria-controls="collapse{{ loop.index }}">
                {{ contract.title }} (تعداد  <b>{{ contract.count }}</b>)
            </a>
            <span class="nav navbar-right panel_toolbox">
                 <a href="#">مشاهده پرسنل</a>
            </span>
            <div id="collapse{{ loop.index }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ loop.index }}">
                <div class="panel-body">
                    <table class="table table-hover table-striped">
                        <tbody>
                            {% for org in employeesEachOrg %}
                                {% if org.id == contract.id %}
                                    <ul>
                                        <ul class="list-group">
                                            <li class="">
                                                {{ org.title }}
                                                <span class="badge">{{ org.count }}</span>
                                            </li>
                                        </ul>
                                    </ul>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}