{% extends ('base.html.twig') %}

{% block title %} سازمان های زیرمجموعه{% endblock %}
{% block pageDescription %} اطلاعات کل سازمان های زیرمجموعه به همراه نوع قرارداد {% endblock %}

{% block body %}
    {% for org in orgs %}
        <div class="panel">
            <a class="panel-heading collapsed" role="tab" id="heading{{ loop.index }}" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}" aria-expanded="false" aria-controls="collapse{{ loop.index }}">
                {{ org.title }} (تعداد  <b>{{ org.count }}</b>)
            </a>
            <span class="nav navbar-right panel_toolbox">
                 <a href="#">مشاهده پرسنل</a>
            </span>
            <div id="collapse{{ loop.index }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ loop.index }}">
                <div class="panel-body">
                    <table class="table table-hover table-striped">
                        <tbody>
                            {% for contract in contracts %}
                                {% if contract.id == org.id %}
                                    <ul>
                                        <ul class="list-group">
                                            <li class="">
                                                {{ contract.title }}
                                                <span class="badge">{{ contract.count }}</span>
                                            </li>
                                        </ul>
                                    </ul>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}